@media(max-width: 479px) {
  .col-xxs-12 {
    width: 100%;
  }

  .hidden-xxs {
    display: none !important;
  }
}

.close {
  color: #222;
  opacity: 1;
  font-weight: 400;
}

.btn-brand {
  color: #1D0F33;
  border: 1px solid #1D0F33;
}

.btn-brand:hover {
  color: #1D0F33;
  background-color: #EEE;
}

* {
  font-family: 'Merriweather', serif;
}

body {
  padding-top: 40px;
}

h1, h2 {
  font-weight: 700;
}

p {
  font-size: 16px;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

@media(min-width: 768px) {
.set-height {
  width: auto;
  height: 554px;
}
}

.navigation {
  background-color: #222;
  padding: 10px;
}

.navigation ul {
  padding-left: 0;
  margin-bottom: 0;
}

.navigation ul li {
  display: inline-block;
  margin: 0 10px;
}

.navigation a {
  color: #9d9d9d;
}

.intro-text h2 {
  margin: 0 0 20px 0;
}

.intro-text p {
  font-size: 16px;
}

.modal-dialog {
  max-width: 800px;
  width: auto;
}

.intro-text {
  margin: 30px 0;
}

.intro-text img.logo {
  margin-bottom: 30px;
}

.portfolio-wrapper {
  background-color: #EEE;
  padding: 20px 0;
  border-top: 1px solid #DDD;
}

.portfolio-area {
  margin-bottom: 30px;
}

.portfolio-area .container {
  max-width: 960px;
  border: 1px solid #DDD;
  background-color: #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
}

.portfolio-area h2 {
  margin-top: 0;
}

.portfolio-area a {
  position: relative;
  display: block;
}

.portfolio-area .fa-search-plus {
  font-size: 20px;
  color: #FFF;
  padding: 5px;
  background-color: #3f206e;
  position: absolute;
  right: 6px;
  bottom: 6px;
}

.portfolio-area img {
  padding: 5px;
  border: 1px solid #CCC;
}

.portfolio-area p {
  margin: 15px 0 0 0;
}

.about-area {
  margin: 40px 20px;
}

.contact-area {
  background-color: #1D0F33;
  padding: 40px 20px;
}

.contact-area h2 {
  font-size: 40px;
  margin-top: 0;
  color: #FFF;
 }

.contact-area p {
  font-size: 20px;
  color: #FFF;
}

.contact-area a {
  color: #FFF;
}

.contact-area a:hover,
.contact-area a:focus,
.contact-area a:active {
  text-decoration: none;
}